{
  "id": "{{service.name}}",
  "cpus": {{service.appmaster-cpus}},
  "mem": {{service.appmaster-memory}},

  "env": {
    "DCOS_SERVICE_NAME": "{{service.name}}"
  },

  "cmd": "cd \"$MESOS_SANDBOX\" && \"$FLINK_HOME/bin/mesos-appmaster.sh\" -Djobmanager.heap.mb={{service.appmaster-heap}} -Djobmanager.rpc.port=$PORT1 -Djobmanager.web.port=$PORT0 -Dmesos.initial-tasks={{service.taskmanagers}} -Dmesos.resourcemanager.tasks.mem={{service.taskmanager-memory}} -Dtaskmanager.heap.mb={{service.taskmanager-heap}} -Dtaskmanager.memory.preallocate={{service.taskmanager-memory-preallocate}} -Dtaskmanager.numberOfTaskSlots={{service.slots}} -Dparallelism.default={{service.parallelism-default}}",

  "container": {
    "type": "DOCKER",
    "docker": {
      "image": "{{resource.assets.container.docker.flink}}",
      "network": "HOST"
    }
  },

  "ports": [0, 0],

  "healthChecks": [
    {
      "protocol": "HTTP",
      "path": "/",
      "portIndex": 0,
      "gracePeriodSeconds": 5,
      "intervalSeconds": 60,
      "timeoutSeconds": 10,
      "maxConsecutiveFailures": 3
    }
  ],

  "labels": {
    "DCOS_SERVICE_NAME": "{{service.name}}",
    "DCOS_SERVICE_PORT_INDEX": "0",
    "DCOS_SERVICE_SCHEME": "http"
  }
}
